.Input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.InputElement {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  outline: none;
  padding: 0.5em 0.75em;
  width: 100%;
}

.InputElement:focus {
  background-color: #ccc;
  outline: none;
}